.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-size: 30px;
  background-color: #d2363e;
}

.znak {
  margin: 10px 10px 5px;
}

.feature {
  padding: 10px;
}
.feature a:hover {
  color: #d2dada;
}

.faBars {
  margin: 10px;
}
.faBars a {
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

.btn, .left_btn {
  cursor: pointer;
  border: none;
  background-color: #d2363e;
  font-size: 30px;
}

.dropdown a:hover {
  color: black;
}
.dropdown:hover .btn {
  color: #d2dada;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-align: left;
  overflow: auto;
  z-index: 1;
  background-color: #d2363e;
  padding-top: 18px;
  font-size: 25px;
}
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}
.dropdown-content a:hover {
  background-color: #d2dada;
}

.left-content {
  display: none;
  position: absolute;
  left: -10px;
  text-align: left;
  overflow: auto;
  z-index: 1;
  background-color: #d2363e;
  font-size: 16px;
  margin-top: 17px;
}
.left-content a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 2px 5px;
}
.left-content a:hover {
  background-color: #d2dada;
}

caption {
  font-size: 22px;
  padding: 10px;
}

table {
  border-collapse: collapse;
}

.table1 tr:hover td, .table3 tr:hover td {
  background: #e8edff;
}
.table1 th, .table3 th {
  padding: 10px 15px;
  border-bottom: 1px solid;
  border-bottom-color: black;
  text-align: left;
}
.table1 td, .table3 td {
  padding: 10px 15px;
  border-bottom: 1px solid;
  border-bottom-color: #969696;
}

.table2 tr:hover td, .table4 tr:hover td {
  background: #e64a52;
}
.table2 th, .table4 th {
  padding: 10px 15px;
  border-bottom: 1px solid;
  border-bottom-color: #400000;
  text-align: left;
}
.table2 td, .table4 td {
  padding: 10px 15px;
  border-bottom: 1px solid;
  border-bottom-color: #800000;
}

.signUp {
  padding: 20px 4%;
  text-align: justify;
  background-image: url(../img/nin1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

form {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
}

.contact {
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  border: none;
}
.contact:hover, .contact:focus {
  box-shadow: inset 0 0 3px 3px #969696;
  font-weight: 600;
}

.mailText {
  height: 150px;
}

.submit {
  cursor: pointer;
  background-color: #800000;
  color: white;
}
.submit:hover {
  box-shadow: inset 0 0 5px 3px #400000;
  font-weight: 600;
}
.submit:active {
  background-color: #400000;
}

#top {
  text-align: right;
  position: fixed;
  right: 5px;
  top: 5px;
}
#top a {
  color: white;
  font-size: 50px;
}

footer {
  text-align: center;
  background-color: #800000;
  color: white;
}

.wrapperFooterList {
  padding: 20px;
}

.footerList {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  body, .contact {
    font-size: 18px;
  }
  .nazv {
    font-size: 36px;
    padding: 5%;
  }
  h3 {
    font-size: 25px;
  }
  .container {
    justify-content: center;
  }
  .faBars {
    display: none;
  }
  .grid-cont0 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
  }
  .grid-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
  }
  .grid-cont2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }
  .contact {
    padding: 10px;
    margin: 20px auto 0;
  }
  .footerList {
    display: inline-block;
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  body, .contact {
    font-size: 18px;
  }
  .nazv {
    font-size: 30px;
    padding: 5%;
  }
  h3 {
    font-size: 25px;
  }
  .container {
    justify-content: center;
  }
  .feature {
    display: none;
  }
  .faBars {
    display: inline-block;
    position: absolute;
    left: 0;
  }
  .grid-cont0 {
    display: grid;
    grid-row-gap: 20px;
  }
  .grid-cont {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
  }
  .grid-cont2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 30px;
  }
  .contact {
    padding: 10px;
    margin: 20px auto 0;
  }
  .footerList {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 359px) {
  body, .contact {
    font-size: 10px;
  }
  .nazv {
    font-size: 18px;
    padding: 5%;
  }
  h3 {
    font-size: 17px;
  }
  caption {
    font-size: 14px;
  }
  .contact {
    padding: 5px;
    margin: 10px auto 0;
  }
  #top a {
    color: white;
    font-size: 25px;
  }
}
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.nazv {
  text-align: center;
  background-image: url("../img/katana1.jpg");
  background-size: cover;
}

h3 {
  text-align: center;
  text-indent: 0px;
  padding-top: 20px;
  margin: 0;
}

.wrapper {
  background-color: #d2dada;
}

.wrapper2 {
  background-color: #d2363e;
}

.Oninja {
  padding: 20px 4%;
  text-align: justify;
  text-indent: 30px;
  color: white;
  background-image: url(../img/nin1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.Onas {
  padding: 0 0 20px 0;
  text-align: justify;
}

.grid-cont0 {
  background-image: url("../img/grey.jpg");
  background-size: cover;
  box-shadow: 20px 20px 20px 0px rgb(190, 190, 190);
  padding: 30px;
  margin: 20px 10%;
}

.grid-cont {
  padding: 3% 0px;
  margin: 0 10%;
}

.grid-cont2 {
  display: grid;
  justify-items: center;
  padding: 3%;
  margin: 0 10%;
}

.img {
  width: 100%;
  height: auto;
  box-shadow: 10px 10px 5px 5px rgba(128, 128, 128, 0.6);
}