.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-size: 30px;
  background-color: #d2363e;
}

.znak {
  margin: 10px 10px 5px;
}

.feature {
  padding: 10px;
}
.feature a:hover {
  color: #d2dada;
}

.faBars {
  margin: 10px;
}
.faBars a {
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: #d2363e;
  font-size: 30px;
}

.left-btn {
  cursor: pointer;
  border: none;
  background-color: #d2363e;
  font-size: 30px;
}

.dropdown a:hover {
  color: black;
}
.dropdown:hover .btn {
  color: #d2dada;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-align: left;
  overflow: auto;
  z-index: 1;
  background-color: #d2363e;
  padding-top: 18px;
  font-size: 25px;
}
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}
.dropdown-content a:hover {
  background-color: #d2dada;
}

.left-content {
  display: none;
  position: absolute;
  left: -10px;
  text-align: left;
  overflow: auto;
  z-index: 1;
  background-color: #d2363e;
  font-size: 16px;
  margin-top: 17px;
}
.left-content a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 2px 5px;
}
.left-content a:hover {
  background-color: #d2dada;
}

.show {
  display: block;
}

caption {
  font-size: 22px;
  padding: 10px;
}

table {
  border-collapse: collapse;
}

.table1 tr:hover td, .table3 tr:hover td {
  background: #e8edff;
}
.table1 th, .table3 th {
  padding: 10px 15px;
  border-bottom: 1px solid;
  border-bottom-color: black;
  text-align: left;
}
.table1 td, .table3 td {
  padding: 10px 15px;
  border-bottom: 1px solid;
  border-bottom-color: #969696;
}

.table2 tr:hover td, .table4 tr:hover td {
  background: #e64a52;
}
.table2 th, .table4 th {
  padding: 10px 15px;
  border-bottom: 1px solid;
  border-bottom-color: #400000;
  text-align: left;
}
.table2 td, .table4 td {
  padding: 10px 15px;
  border-bottom: 1px solid;
  border-bottom-color: #800000;
}

.slider {
  position: relative;
  margin: 30px 10% 0;
  padding-bottom: 20px;
  max-height: 320px;
  text-align: center;
  overflow: hidden;
}

.slider .item img {
  box-shadow: 10px 10px 5px 5px rgba(128, 128, 128, 0.6);
  margin: 0 20px 20px 0;
  width: auto;
}

.slider .previous, .slider .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -55px;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
}
.slider .previous:hover, .slider .next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.slider .previous {
  left: 0;
  border-radius: 0 3px 3px 0;
}

.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slider-dots {
  text-align: center;
  padding: 10px;
}

.slider-dots_item {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}
.slider-dots_item:hover {
  background-color: #d2363e;
}

.active {
  background-color: #d2363e;
}

#top {
  text-align: right;
  position: fixed;
  right: 5px;
  top: 5px;
}
#top a {
  color: white;
  font-size: 50px;
}

footer {
  text-align: center;
  background-color: #800000;
  color: white;
}

.wrapperFooterList {
  padding: 20px;
}

.footerList {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
  .nazv {
    font-size: 50px;
    padding: 70px 50px;
  }
  h3 {
    font-size: 25px;
  }
  .container {
    justify-content: center;
  }
  .faBars {
    display: none;
  }
  .grid-cont0 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
  }
  .grid-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
  }
  .grid-cont2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }
  .slider {
    max-height: 320px;
  }
  .slider .item img {
    height: 320px;
  }
  .footerList {
    display: inline-block;
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: 18px;
  }
  .nazv {
    font-size: 50px;
    padding: 70px 50px;
  }
  h3 {
    font-size: 25px;
  }
  .container {
    justify-content: center;
  }
  .faBars {
    display: none;
  }
  .grid-cont0 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 30px;
  }
  .grid-cont {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 60px;
  }
  .grid-cont2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 30px;
  }
  .slider {
    max-height: 280px;
  }
  .slider .item img {
    height: 280px;
  }
  .footerList {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 639px) {
  body {
    font-size: 18px;
  }
  .nazv {
    font-size: 50px;
    padding: 70px 50px;
  }
  h3 {
    font-size: 25px;
  }
  .container {
    justify-content: center;
  }
  .feature {
    display: none;
  }
  .faBars {
    display: inline-block;
    position: absolute;
    left: 0;
  }
  .slider {
    max-height: 120px;
  }
  .slider .item img {
    height: 120px;
  }
}
@media screen and (max-width: 359px) {
  body {
    font-size: 10px;
  }
  .nazv {
    font-size: 30px;
    padding: 35px 25px;
  }
  h3 {
    font-size: 17px;
  }
  caption {
    font-size: 14px;
  }
  .slider {
    max-height: 100px;
  }
  .slider .item img {
    height: 100px;
  }
  .slider .previous, .slider .next {
    margin-top: -30px;
    padding: 10px;
    font-size: 20px;
  }
  #top a {
    color: white;
    font-size: 25px;
  }
}
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.nazv {
  text-align: center;
  background-image: url("../img/katana1.jpg");
  background-size: cover;
}

h3 {
  text-align: center;
  text-indent: 0px;
  padding-top: 20px;
  margin: 0;
}

.wrapper {
  background-color: #d2dada;
}

.wrapper2 {
  background-color: #d2363e;
}

.Oninja {
  padding: 20px 4%;
  text-align: justify;
  text-indent: 30px;
  color: white;
  background-image: url(../img/nin1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.Onas {
  padding: 20px 0;
  text-align: justify;
}

.grid-cont0 {
  background-image: url("../img/grey.jpg");
  background-size: cover;
  box-shadow: 20px 20px 20px 0px rgb(190, 190, 190);
  padding: 30px;
  margin: 20px 10% 20px;
}

.grid-cont {
  padding: 30px 0px;
  margin: 0 10%;
}

.grid-cont2 {
  display: grid;
  justify-items: center;
  padding: 30px;
  margin: 0 10%;
}

.img {
  width: 100%;
  height: auto;
  box-shadow: 10px 10px 5px 5px rgba(128, 128, 128, 0.6);
}