@media screen and (min-width: 768px) {
    body, .contact{
        font-size: 18px;
    }
    
    //слова на сером фоне с катаной под шапкой
    .nazv { 
        font-size: 36px;
        padding: 5%;
    }
    
    //названия в начале блоков
    h3 {
        font-size: 25px;
    }
    
    .container {
        justify-content: center; //горизонтально
    }
    
    //боковое меню (три полоски)
    .faBars {
        display: none;
    }
    
    //книжка с белой тенью
    .grid-cont0 { 
        display: grid;
        grid-template-columns: 1fr 1fr; //соотношение блоков горизонтально 1:1
        grid-column-gap: 50px; //расстояние м/у блоками горизонтально
        grid-row-gap: 30px; //вертикально
    }
    
    //таблицы
    .grid-cont { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 60px;
    }
    
    //галерея
    .grid-cont2 { 
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-column-gap: 30px;
    }
    
    //каждое поле для записи
    .contact {
        padding: 10px;
        margin: 20px auto 0;
    }
    
    //список в подвале
     .footerList {
        display: inline-block;
        text-align: left;
    }
}

@media screen and (max-width: 767px) {
    body, .contact{
        font-size: 18px;
    }
    
    //слова на сером фоне с катаной под шапкой
    .nazv { 
        font-size: 30px;
        padding: 5%;
    }
    
    //названия в начале блоков
    h3 {
        font-size: 25px;
    }
    
    //контейнер шапки
    .container {
        justify-content: center; //горизонтально
    }
    
    //горизонтальные кнопки шапки
    .feature {
        display: none;
    }
    
    //боковое меню (три полоски)
    .faBars {
        display: inline-block;
        position: absolute;
        left: 0
    }
    
    //книжка с белой тенью
    .grid-cont0 { 
        display: grid;
        grid-row-gap: 20px; //вертикально
    }
    
    //таблицы
    .grid-cont { 
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 20px;
    }
    
    //галерея
    .grid-cont2 { 
        display: grid;
        grid-template-rows: 1fr 1fr; 
        grid-row-gap: 30px;
    }
    
    //каждое поле для записи
    .contact {
        padding: 10px;
        margin: 20px auto 0;
    }
    
    //список в подвале
     .footerList {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 359px) {
    body, .contact{ 
        font-size: 10px;
    }
    
    //слова на сером фоне с катаной под шапкой
    .nazv { 
        font-size: 18px;
        padding: 5%;
    }
    
    //названия в начале блоков
    h3 {
        font-size: 17px;
    }
    
    //названия таблиц
    caption {
        font-size: 14px;
    }
    
    //каждое поле для записи
    .contact {
        padding: 5px;
        margin: 10px auto 0;
    }
    
    //кнопочка 'вверх'
    #top { 
        a {
            color: white;
            font-size: 25px
        }
    }
}