//фоны
$GreyBlue: #d2dada; //серо-голубой
$DarkRed: #d2363e; //тёмно-красный

//таблицы
$LightGreyBlue: #e8edff; //светло-серо-голубое выделение строк
$LightRed: #e64a52; //карминное выделение строк
$DarkGrey: #969696; //тёмно-серое подчерк-е строк
$Bordo: #800000; // красно-коричневый
$DarkBordo: #400000; // коричневый

//слайды
$LightGrey: rgba(0, 0, 0, 0.2); //светло-серый